@charset "UTF-8";

.l-header {
  border-top: 5px solid #3aacad;
  padding: 0 100px;
}

.c-navLogo {
  width: 160px;
  height: 100px;
  object-fit: cover;
}

.p-topContents__inner {
  display: flex;
  align-items: center;
}

.c-navIcon {
  width: 30px;
}
